// .rating {
// 	display: flex;
// 	align-items: flex-end;
// 	font-size: 40px;
// 	line-height: 0.75;
// 	// .rating__body

// 	&__body {
// 		position: relative;
// 		&::before{
// 			content:'★★★★★';
// 			display: block;
// 		}
// 	}

// 	// .rating__activ

// 	&__activ {
// 		position: absolute;
// 		width: 0%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 		overflow: hidden;
// 		&::before{
// 			content:'★★★★★';
// 			position: absolute;
// 			width: 100%;
// 			height: 100%;
// 			top: 0;
// 			left: 0;
// 			color: red;
// 		}
// 	}

// 	// .rating__items

// 	&__items {
// 		display: flex;
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 	}

// 	// .rating__item

// 	&__item {
// 		flex: 0 0 20%;
// 		height: 100%;
// 		opacity: 0;
// 	}

// 	// .rating__value

// 	&__value {
// 		font-size: 50%;
// 		line-height: 1;
// 		padding: 0px 0px 0px 10px;
// 	}
// }

.rating {
	display: inline-flex;
	flex-direction: row-reverse;

	// .rating__item

	&__item {
		font-size: 50px;
		color: green;
		cursor: pointer;
		transition: color 0.3s;
		@media(any-hover:hover){
			&:hover, &:hover ~ .rating__item{
				color: grey;
			}
		}
	}
}

.rating[data-total-value="1"] .rating__item:nth-child(n+5),
.rating[data-total-value="2"] .rating__item:nth-child(n+4),
.rating[data-total-value="3"] .rating__item:nth-child(n+3),
.rating[data-total-value="4"] .rating__item:nth-child(n+2),
.rating[data-total-value="5"] .rating__item:nth-child(n+1){
	color: red;
}