@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@font-face {
	font-family: 'BebasBold';
	src: url('../fonts/BebasNeueBold.eot');
	src: local('☺'), url('../fonts/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeueBold.ttf') format('truetype'), url('../fonts/BebasNeueBold.svg') format('svg');
	font-weight: 700;
	font-style: bold;
}
@font-face {
	font-family: 'NeueBook';
	src: url('../fonts/BebasNeueBook.eot');
	src: local('☺'), url('../fonts/BebasNeueBook.woff') format('woff'), url('../fonts/BebasNeueBook.ttf') format('truetype'), url('../fonts/BebasNeueBook.svg') format('svg');
	font-weight: 'Book';
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Regular';
	src: url('../fonts/BebasNeueRegular.eot');
	src: local('☺'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype'), url('../fonts/BebasNeueRegular.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}
html {
	-webkit-text-size-adjust: 100%
}
button, input, textarea {
	-webkit-appearance: none;
	outline: none;
	border: none
}
a {
	background-color: transparent;
	outline: none
}
body.open-modal {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
body{
    background-color: #101623;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #9199B3;
}
ul,li{
	list-style: none;
	margin: 0;
}
.container{
    width:100%;
		max-width: 1248px;
		min-width: 320px;
    margin: 0 auto;
		padding: 0 24px;
		font-weight: 400;
		position: relative;
	@media (max-width: 480px){
		padding: 0 10px; 
	}
}
a{
text-decoration: none;	
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class] {
  padding: 0;
}


.investments {
 display: flex;
 flex-direction: column;
 padding: 20px;
 justify-content: center;
 align-items: center;
 min-height: 100vh;

	// .investments__container

	&__container {
		height: 100%;
		@media (max-width: 768px){
			 padding: 0px 1px; 
		}
		@media (max-width: 480px){
			padding: 0px 10px; 
	  }
	}

	// .investments__top

	&__top {
		margin: 0px 0px 60px 0px;
		@media (max-width: 480px){
			margin: 0px 0px 40px 0px; 
	  }
	}

	// .investments__title

	&__title {
		font-family:"BebasBold";
		font-weight: bold;
		color: rgb(242, 245, 255);
		text-transform: uppercase;
		font-size: 56px;
		line-height: 120%;
		color: #F2F5FF;
		text-align: center;
		@media (max-width: 768px){
			 font-size: 48px; 
		}
		@media (max-width: 480px){
			font-size: 32px; 
	  }
	}

	// .investments__slider

	&__slider {
	
	}

	&__wrapper{
		@media (max-width: 768px){
			width: 100%;
			overflow: hidden;
		}
		
	}

	&__body {
		display: flex;
		margin: 0 -8px;
	
		@media (max-width: 1240px){
			 flex-wrap: wrap; 
			 justify-content: center;
		}
		@media (max-width: 768px){
			 margin: 0px 0px 0px 0px; 
			 flex-wrap: nowrap;
			 justify-content: initial;
		}
	}

	&__card {
		
	}
	
	// .investments__buttons

	&__buttons {
		display: none;
		@media (max-width: 768px){
			display: flex;
			justify-content: space-between;
			margin: 40px 25px 0px 25px;
			align-items: center; 
		}
	}
	// .investments__button-next
	&__button-next {
		height: 48px;
		width: 48px;
		position: relative;
		background: rgba(52, 89, 223, 0.2);
		border-radius: 6px;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
	}

	// .investments__button-prev

	&__button-prev {
		height: 48px;
		width: 48px;
		background: rgba(52, 89, 223, 0.2);
		border-radius: 6px;
		position: relative;
		transform: rotate(-180deg);
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	// .investments__pagination

		&__pagination {
			.swiper-pagination-bullet{
			height: 8px;
			width: 8px;
			border-radius: 50%;
			border: 1px solid #535D76;
			box-sizing: border-box;
			background-color: transparent;
			margin: 0px 20px 0px 0px;
			}
			.swiper-pagination-bullet-active{
				background: #3459DF;
				border: none;
			}
		}
}

.card {
	padding: 0 8px;
	flex: 0 0 406px;
	border-radius: 8px;
	position: relative;
	
	@media (max-width: 1240px){
		 margin: 0px 0px 16px 0px;
		 &:last-child{
			 margin: 0px 0px 0px 0px;
		 }
	}
	@media (max-width: 768px){
		flex: 1 0 auto;
		padding: 0;
		margin: 0px 0px;
	}
	@media (min-width: 480px){
		&.swiper-slide-prev, &.swiper-slide-next{
			&::before{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.3);
				z-index: 1;
			}
		} 
	}
	
		// .card__content
	&__content{
		background: rgba(175, 192, 255, 0.05);
		backdrop-filter: blur(34px);
		padding: 40px 24px 32px 24px;
		position: relative;
		border-radius: 8px;
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	// .card__bg

	&__bg {
		position: absolute;
		width: 100%;
	}

	// .card__image

	&__image {
		position: absolute;
		// .card__image_position-1

		&_position-1 {
			top: -40px;
			left: 0;
		}

		// .card__image_position-2

		&_position-2 {
			top: -40px;
			left: -24px;
		}
	}


	// .card__header

	&__header {
		margin: 0px 0px 30px 0px;
	}

	// .card__images

	&__img {
		margin: 0px 0px 25px 0px;
		width: 78px;
		height: 78px;
		position: relative;
		&::before{
			content:'';
			top: 50%;
			left: 58%;
			transform: translate(-50%, -50%);
			position: absolute;
			width: 78px;
			height: 78px;
			border-radius: 50%;
			background: rgb(109, 136, 235);
			opacity: 0.8;
			filter: blur(88px);
		}
		img{
			width: 100%;
		}
	}
	// .card__title

	&__title {
		font-family:"BebasBold";
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 100%;
		color: #F2F5FF;
		text-transform: uppercase;
	}

	// .card__body

	&__body {
		margin: 0px 0px 24px 0px;
		flex: 1 1 auto;
	}

	// .card__row

	&__row {
		display: flex;
		border-bottom: 1px solid rgba(83, 93, 118, 0.2);
		justify-content: space-between;
		padding: 12px 0px;
		&:first-child{
			padding: 0px 0px 12px 0px;
		}
		&:last-child{
			border-bottom: none;
			padding: 12px 0px 0px 0px;
		}
	}

	// .card__label

	&__label {
		font-size: 14px;
		line-height: 150%;
		color: #9199B3;
	}

	// .card__text

	&__text {
		font-weight: 700;
		font-size: 14px;
		line-height: 150%;
		color: #F2F5FF;
	}

	// .card__form

	&__form {
	}
}

.form {

	// .form__line

	&__line {
	}

	// .form__label

	&__label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 0px 30px 0px;
	}

	// .form__input

	&__input {
		border-bottom: 1px solid #F2F5FF;
		width: 130px;
		text-align: center;
		font-family:"BebasBold";
		font-style: normal;
		font-weight:700;
		font-size: 32px;
		line-height: 32px;
		text-align: center;
		color: #F2F5FF;
		padding: 0px 5px;
		background-color: transparent;
		&::placeholder{
			color: #F2F5FF;
		}
	}

	// .form__text

	&__text {
		font-size: 14px;
		line-height: 150%;
		color: #F2F5FF;
		font-weight: 400;
	&_weight{
		font-weight: 700;
		}
	&_blue-white-bolt{
		font-weight: 400;
		text-align: center;
		span{
			margin: 0px 0px 0px 12px;
			font-weight: 700;
			color: #3459DF;
		}
	}
	}

	&__range-slider{
		margin: 0px 0px 28px 0px;
		width: 100%;
	}

	// .form__btn

	&__btn {
		width: 100%;
		height: 60px;
		background-color: #3459DF;
		border-radius: 6px;
		font-family: Roboto;
		font-weight: 500;
		font-size: 14px;
		color: #F2F5FF;
		cursor: pointer;
		margin: 30px 0px 0px 0px;
	}
}

.noUi-target{
	border: none;
	border-radius: 100px;
	box-shadow: none;
	height: 2px;
	background-color: #535D76;
	border-radius: 8px;
}
.noUi-connect{
	background-color: #3459DF;
}
.noUi-handle{
	position: relative;
	&::after{
		display: none;
	}
	&::before{
		content:'';
		height: 12px;
		width: 12px;
		background-color: #3459DF;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.noUi-horizontal .noUi-handle{
	height: 24px;
	width: 24px;
	box-shadow: none;
	border-radius: 50%;
	background-color: #F2F5FF;
	top: -11px;
	cursor: pointer;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
	
