.header {
	height: 60px;
	border-bottom: 1px solid gray;
	position: relative;

	&.blue {
		.menu__label {
			&::before {
				background-color: blue;
			}
		}
	}

	@media (max-width:($md1+px)) {
		border: none;
	}

	&__container {
		height: 100%;

		@media (max-width:($md4+px)) {
			padding: 0 10px;
		}
	}

	&__body {
		height: 100%;
		display: flex;
		align-items: center;

		@media (max-width:($md1+px)) {
			border-bottom: 1px solid gray;
		}
	}

	&__logo {
		flex: 0 0 183px;
		margin: 0px auto 0px 0px;

		@media (max-width:($md2+px)) {
			flex: 0 0 150px;
		}

		img {
			width: 100%;
		}
	}

	&__menu {}

	&__user {}
}

.menu {
	margin: 0px 10px 0px 0px;
	display: flex;
	align-items: center;

	&__icon {}

	&__body {
		@media (max-width:($md2+px)) {
			position: absolute;
			width: 414px;
			height: 100vh;
			transform: translateX(105%);
			top: 60px;
			right: 0;
			padding: 20px 0;
			background-color: white;
			z-index: 10;
			transition: transform 0.4s linear 0s;
			overflow-y: auto;
			border-left: 1px solid #D3DAE9;

			&.active {
				transform: translateX(0%);
			}
		}

		@media (max-width:($md4+px)) {
			width: 100%;
			border: none;
		}
	}

	&__list {
		display: flex;
		align-items: center;

		@media (max-width:($md2+px)) {
			display: block;

		}

	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin: 0px 20px 0px 0px;

			@media (max-width:($md2+px)) {
				margin: 0px 0px 2px 0px;
			}
		}

		@media (any-hover:hover) {
			&:hover {
				.dropdown {
					top: calc(100% - 4px);
					pointer-events: auto;
					visibility: visible;
					opacity: 1;
				}

				.menu__label {
					&::before {
						width: 100%;
					}
				}
			}
		}
	}

	&__link {
		font-weight: 300;
		line-height: 112%;
		color: black;
		position: relative;
		cursor: pointer;
		padding: 21px 0;
		display: flex;
		align-items: center;

		@media (min-width:($md2+px)) {
			&.active {
				.menu__label {
					&::before {
						width: 100%;
					}
				}
			}
		}

		@media (max-width:($md2+px)) {
			padding: 15px 45px 15px 20px;
			font-weight: 400;
			font-size: 20px;
			line-height: 90%;
			letter-spacing: -0.02em;

			&.active {
				.menu__arrow {
					transform: translateY(-50%) matrix(1, 0, 0, -1, 0, 0);
				}
			}
		}
	}

	&__label {
		display: block;

		@media (min-width:($md2+px)) {
			position: relative;
			padding: 1.5px 0 4.5px 0;

			&::before {
				content: '';
				height: 2px;
				width: 1px;
				position: absolute;
				bottom: -3px;
				left: 0;
				background-color: yellow;
				transition: width 0.3s linear 0s;
			}
		}
	}

	&__arrow {
		@media (max-width:($md2+px)) {
			position: absolute;
			right: 10px;
			top: 50%;
			width: 24px;
			height: 24px;
			transform: translateY(-50%);
			transition: transform 0.4s ease 0s;

			&::before,
			&::after {
				content: '';
				height: 1px;
				background-color: black;
				width: 9px;
				position: absolute;
				top: 50%;
			}

			&::after {
				transform: translateY(-50%) rotate(-45deg);
				left: 10.5px;
			}

			&::before {
				transform: translateY(-50%) rotate(45deg);
				right: 10.5px;

			}
		}
	}

	&__dropdown {}

}

.dropdown {
	position: absolute;
	top: 110%;
	left: -20px;
	z-index: 5;
	padding: 20px 0px;
	width: 240px;
	background: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.18);
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s linear 0s;

	@media (max-width:($md2+px)) {
		position: static;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		box-shadow: none;
		width: 100%;
		padding: 0;
	}

	&__sublist {}

	&__subitem {
		@media (max-width:($md2+px)) {
			&:not(:last-child) {
				margin: 0px 0px 2px 0px;
			}
		}
	}

	&__sublink {
		padding: 10px 20px;
		display: block;
		line-height: 112%;
		color: red;
		transition: color 0.3s ease 0s, background-color 0.3s ease 0s;

		@media (max-width:($md2+px)) {
			background-color: gray;
			padding: 10px 20px 10px 40px;
			position: relative;
			font-size: 18px;
			line-height: 100%;

			&::before {
				content: '';
				background-color: red;
				width: 7px;
				height: 7px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 26px;
				border-radius: 50%;
			}
		}

		@media (any-hover:hover) {
			&:hover {
				color: black;
				background-color: gray;
			}
		}
	}
}

.user {
	@media (max-width:($md2+px)) {
		margin: 0px 10px 0px 0px;
	}

	&__link {
		display: flex;
		padding: 5px 5px 5px 13px;
		align-items: center;
		background: gray;
		border-radius: 22px;
		transition: background 0.3s ease 0s;

		@media (max-width:($md1+px)) {
			padding: 5px;
			border-radius: 50%;
		}

		@media (any-hover:hover) {
			&:hover {
				background: gray;
			}
		}
	}

	&__label {
		font-weight: 300;
		margin: 0px 5px 0px 0px;
		color: black;
		line-height: 112%;

		@media (max-width:($md1+px)) {
			display: none;
		}
	}

	&__icon {
		width: 28px;
		height: 28px;
		background: #F9928F;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		color: white;
	}
}

.icon-menu {
	display: none;

	@media (max-width: ($md2+px)) {
		display: block;
		padding: 0 10px;
		height: 100%;
		cursor: pointer;
		z-index: 5;
		flex: 0 0 44px;
		width: 44px;
		position: relative;

		span {
			transition: transform 0.4s ease 0s;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			width: 20px;
			height: 2px;
			background-color: black;
			pointer-events: none;
			cursor: pointer;

			&:first-child {
				top: calc(50% - 6px);
			}

			&:last-child {
				top: auto;
				bottom: calc(50% - 8px);
			}
		}

		&.active {
			span {
				transform: scale(0);
				height: 1px;
				width: 24px;

				&:first-child {
					transform: translate(-50%, -50%) rotate(-45deg);
					top: calc(50% - 1px);
				}

				&:last-child {
					transform: translate(-50%, -50%) rotate(45deg);
					bottom: 50%;
				}
			}
		}
	}
}