* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1277.98px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 567.98px) {
  .container {
    padding: 0 15px;
  }
}

.checkbox {
  position: relative;
  cursor: pointer;
}

@media (any-hover: hover) {
  .checkbox:hover .checkbox__box {
    background-color: red;
  }
  .checkbox:hover .checkbox__box::before {
    border-color: black;
  }
  .checkbox:hover .checkbox__icon {
    color: #5c5858;
  }
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__wrap .checkbox__box::before {
  background-color: black;
  border-color: black;
}

.checkbox__input:checked + .checkbox__wrap .checkbox__icon {
  opacity: 1;
}

.checkbox__wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s, color 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, color 0.3s ease 0s;
  font-size: 18px;
  color: green;
}

.checkbox__icon::before {
  content: '1';
}

.checkbox__text {
  line-height: 120%;
}

.checkbox__text a {
  color: red;
  text-decoration: underline;
}

.checkbox__box {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.checkbox__box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 3px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s;
}
