.form {

	// .form__top
	&.not-visible {
		display: none;
	}

	&__top {
		padding: 0px 0px 80px 0px;
	}

	// .form__title

	&__title {
		font-size: 16px;
		line-height: 120%;
		color: gray;
		padding: 0px 0px 15px 0px;
	}

	// .form__line

	&__line {
		padding: 21px 0px 0px 0px;
		position: relative;

		&:not(:last-child) {
			margin: 0px 0px 25px 0px;
		}

		&._focus {
			.form__label {
				top: 0;
				font-size: 14px;
				line-height: 120%;

				&_color {
					color: gray;
				}

				&_size {
					font-size: 16px;
				}
			}


			.input {
				&::placeholder {
					opacity: 1;
					visibility: visible;
				}

				padding: 0;
				border-bottom: 2px solid rgb(12, 11, 19);

				&._error {
					border-bottom: 2px solid rgb(252, 93, 93);

				}
			}

			.input-textarea {
				padding: 8px 0;
			}
		}

		@media (max-width:($md4+px)) {
			&:not(:last-child) {
				margin: 0px 0px 40px 0px;
			}
		}
	}

	// .form__input

	&__input {}

	// .form__label

	&__label {
		font-size: 20px;
		line-height: 140%;
		position: absolute;
		top: 13px;
		left: 0;
		transition: all 0.3s ease-in-out 0s;
		cursor: pointer;

		&_size {
			top: 30px;
		}
	}

	// .form__body

	&__body {
		padding: 0px 0px 60px 0px;

		&_padding {
			padding: 0px 0px 80px 0px;
		}
	}

	// .form__icon

	&__icon {
		position: absolute;
		right: 0;
		top: 26px;
		font-size: 20px;
		color: gray;
		width: 20px;
		height: 20px;

		&.show {
			.form__off {
				display: none;
			}

			.form__on {
				display: block;
			}
		}

		img {
			width: 100%;
		}
	}

	&__on {
		display: none;
	}

	// .form__text

	&__text {
		line-height: 135%;
		margin: 0px 0px 30px 0px;
	}

	// .form__link

	&__link {
		color: rgb(12, 11, 19);
		transition: color 0.3s ease-in-out 0s;
		border-bottom: 1.5px solid rgb(12, 11, 19);
		transition: border-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;

		@media (any-hover:hover) {
			&:hover {
				color: blue;
				border-color: blue;
			}
		}
	}

	&__row {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		&_position {
			justify-content: space-between;
		}

		@media (max-width:($md4+px)) {
			flex-direction: column;
		}
	}

	// .form__button

	&__button {
		margin: 0px 0px 0px 34px;
		background-color: grey;
		padding: 10px;

		@media (max-width:($md4+px)) {
			margin: 34px 0px 0px 0px;
		}
	}
}

.error-message-form {
	color: red;
	line-height: 120%;
	padding: 5px 0px 0px 0px;
}