.success {
	padding: 25px 25px 43px 25px;
	background: green;
	border-radius: 7px;
	text-align: center;
	display: none;

	&.visible {
		display: block;
	}

	@media (max-width:($md4+px)) {
		padding: 15px;
	}

	&__body {}

	&__icon {
		font-size: 36px;
		margin: 0px 0px 10px 0px;
		color: rgb(138, 120, 120);
	}

	&__label {
		font-size: 30px;
		line-height: 120%;
		padding: 0px 0px 20px 0px;
		margin: 0px 0px 10px 0px;
	}

	&__text {
		line-height: 120%;

		p {
			&:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
		}
	}
}