//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: 1277.98;
$md2: 990.98;
$md3: 767.98;
$md4: 567.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null";

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: ($maxWidthContainer + px);
	margin: 0 auto;

	@media (max-width: ($md1 + px)) {
		padding: 0 50px;
	}

	@media (max-width: ($md3+px)) {
		padding: 0 30px;
	}

	@media (max-width: ($md4+px)) {
		padding: 0 15px;
	}
}

@import "_paginations";